#app{
    margin: auto;
    width: 400px;
    background-color: yellow;
    padding: 20px
}
input{
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}
#add{
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    background-color: black;
    color: white
}
#del{
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    background-color: red;
    color: white
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    width: 100%;
}
